body {
    font-family: 'Times New Roman', Times, serif, cursive;
    background-image: linear-gradient(to bottom, #cfcfcff5, #687e62e8); /* Градієнт фону */
    color: #1c2820c5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    min-height: 100vh;
}

header {
    text-align: center;
    color: #1c2820c5;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif; /* Додано шрифт Sofia */
    background-image: linear-gradient(to bottom, #cfcfcff5, #4A544C); /* Градієнт від кольору меню до сірого */
}

nav {
    font-family: 'Times New Roman', Times, serif;
    background-color: #4A544C; /* Оливковий колір фону для меню */
    color: #ffffff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 70px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #b4ecff; /* Підсвічування блакитним кольором при наведенні */
}
.container {
    background-color: #2f4134c5;
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.contact-item {
    text-align: center;
    margin: 20px;
    flex: 1;
    min-width: 200px;
}
.contact-item a {
    display: block;
    margin-top: 10px;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
}
.contact-item a::after {
    content: '→';
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
}
h1 {
    color: #1c2820c5;
    margin-bottom: 20px;
    text-align: center;
}
h2, p {
    color: #ffffff;
}
.photo-gallery {
    display: flex;
    justify-content: center;
    background-color: #CFCFCF;
    padding: 0;
    margin: 40px 0 20px; /* Increase the top margin */
    width: 100%;
}
.photo-gallery a {
    flex: 1;
    display: block;
}
.photo-gallery img {
    width: 100%;
    height: auto;
    border: none;
}
footer {
    background-color: #2f4134c5;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    box-sizing: border-box;
}