
body {
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(to bottom, #cfcfcff5, #687e62e8); /* Градієнт фону */
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    color: #000000;
    padding: 20px;
    font-family: "Sofia", sans-serif; /* Додано шрифт Sofia */
    background-image: linear-gradient(to bottom, #cfcfcff5, #4A544C); /* Градієнт від кольору меню до сірого */
}

nav {
    font-family: 'Times New Roman', Times, serif;
    background-color: #4A544C; /* Оливковий колір фону для меню */
    color: #ffffff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 70px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #b4ecff; /* Підсвічування блакитним кольором при наведенні */
}

.full-width-image {
    background-image: url('images/27.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    aspect-ratio: 5500 / 1000; /* Зберігаємо пропорції зображення */
}

.gallery {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.gallery h1 {
    margin-bottom: 20px;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo-grid img {
    width: calc(25% - 10px);
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer; /* Зміна курсору для зображень */
}

.photo-grid img:hover {
    transform: scale(1.05);
}

footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #cfcfcff5;
    color: #000000;
    padding: 20px;
    width: 100%;
}

/* Стилі для модального вікна */

.modal {
    display: none; /* Приховуємо модальне вікно за замовчуванням */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    
}

.modal-content {
    margin: auto; /* Задаємо автоматичні відступи по горизонталі, щоб зображення було по центру */
    display: block;
    max-width: 100%; /* Ширина контенту в модальному вікні не більше ширини екрану */
}


.modal-content {
    margin: auto;
    display: block;
    width: 100%; 
    max-width: 560px;
}

.close {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




