body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    margin: 0;
}
header {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}
nav {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.main-text {
    text-align: center;
    flex: 1;
}
.main-image {
    flex: 1;
}
.portfolio-images {
    width: 45%;
    height: 45%;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-images img {
    width: 45%;            
    margin-bottom: 10px;
}
footer {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}